<div class="search-container">
    <input 
        type="text" 
        [ngModel]="searchQuery" 
        (ngModelChange)="filterPosts($event)" 
        name="searchQuery"
        class="search-input"
        placeholder="Search posts by title"
    />
</div>
<div class="component-container">
    <div 
        *ngFor="let post of filteredPosts | async"
        routerLink="/posts/{{post.id}}"
        class="post-container"
    >
        <h3 class="post-title">{{ post.title }}</h3>
        <p class="post-body">{{ post.body }}</p>
        <small class="comment-count">
            <span *ngIf="post.comments.length === 0">No comment</span>
            <span *ngIf="post.comments.length === 1">1 comment</span>
            <span *ngIf="post.comments.length > 1">{{ post.comments.length }} comments</span>
        </small>
    </div>  
</div>
