<div class="component-container">
    <div 
        *ngFor="let post of posts | async"
        routerLink="/posts/{{post.id}}"
        class="post-container"
    >
        <h3>{{ post.title }}</h3>
        <p class="post-body">{{ post.body }}</p>
        <small>
            <span *ngIf="post.comments.length === 0">No comment</span>
            <span *ngIf="post.comments.length === 1">1 comment</span>
            <span *ngIf="post.comments.length > 1">{{ post.comments.length }} comments</span>
        </small>
    </div>  
</div>